beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
chromedriver-binary==92.0.4515.43.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
flake8==4.0.1
idna==2.10
importlib-metadata==4.2.0
mccabe==0.6.1
pybase62==0.4.3
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.19.2
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
typing-extensions==4.0.0
urllib3==1.26.5
uuid0==0.2.7
webdriver-manager==3.4.2
zipp==3.6.0
