APScheduler==3.6.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
chromedriver-binary==92.0.4515.43.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
flake8==4.0.1
idna==2.10
importlib-metadata==4.2.0
mccabe==0.6.1
pybase62==0.4.3
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.19.2
python-telegram-bot==13.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.25.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
telebot==0.0.4
-e git+https://github.com/AppDevIn/TelegramBot.git@13b025439a34d4121b9aa63b542451d8330bf9d3#egg=TelegramBot
tornado==6.1
typing_extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.5
uuid0==0.2.7
webdriver-manager==3.4.2
-e git+https://github.com/AppDevIn/Yaml-Python.git@b0f3b4eaedcdd82ec32f474305bd7a49ffd999d5#egg=Yaml_Python
zipp==3.6.0
